In [1]:
import sqlite3

In [2]:
c = sqlite3.connect("Bhavya")

In [3]:
c.execute('drop table if exists abc')

In [4]:
c.execute('create table abc(id int, name varchar, score int)')

In [5]:
c.execute('insert into abc(id, name, score) values(1,"Bhavya Joshi", 100)')

In [7]:
c.commit()

In [9]:
c.execute('insert into abc(id, name, score) values(2,"Vaishali Joshi", 200)')
c.execute('insert into abc(id, name, score) values(3,"Utsav Gada", 300)')
c.execute('insert into abc(id, name, score) values(4,"Saloni Jain", 400)')
c.execute('insert into abc(id, name, score) values(5,"Siddhant Kadam", 500)')

In [10]:
c.commit()

In [12]:
list(c.execute('select * from abc'))

[(1, 'Bhavya Joshi', 100),
 (2, 'Vaishali Joshi', 200),
 (3, 'Utsav Gada', 300),
 (4, 'Saloni Jain', 400),
 (5, 'Siddhant Kadam', 500)]

In [13]:
list(c.execute('select * from abc'))[0]

(1, 'Bhavya Joshi', 100)

In [14]:
for i in c.execute('select * from abc'):
    print(i)

(1, 'Bhavya Joshi', 100)
(2, 'Vaishali Joshi', 200)
(3, 'Utsav Gada', 300)
(4, 'Saloni Jain', 400)
(5, 'Siddhant Kadam', 500)

In [15]:
for i in c.execute('select * from abc order by score desc'):
    print(i)

(5, 'Siddhant Kadam', 500)
(4, 'Saloni Jain', 400)
(3, 'Utsav Gada', 300)
(2, 'Vaishali Joshi', 200)
(1, 'Bhavya Joshi', 100)

In [16]:
for i in c.execute('select * from abc where name="Vaishali Joshi"'):
    print(i)

(2, 'Vaishali Joshi', 200)